.italic{
    font-style: italic;
}

.error{
    color: red;
}

.border{
    border: 1px black solid;
}

.flex{
    display: flex;
    justify-content: center;
    margin: 15px 0px 15px 0px;
}

.bold{
    font-weight: bold;
}

.bordered{
    border-top: 1px black solid;
}

.alert{
    color: seashell;
    font-weight: bold;
    margin: 0 auto;
}

.spaced{
    margin-right: 10px;
    border-radius: 25px;
    background-color: #3F0FB7;
    border: 2px solid black;
    height: 40px;
}

.white-font{
    color: seashell;
    border:2px red solid
}


.justify{
    justify-content: center;
    align-items: center;
}

.flex-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i{
    margin-left: 15px;
    font-size: 1.5rem;
    color:seashell
}

.bi-bookmark-check-fill{
    color: greenyellow;
}