.italic{
    font-style: italic;
}

.error{
    margin: 0 auto;
    color: red;
    text-shadow: 1px 1px 1px #F7F7FF;
    font-size: 1.5rem;
    font-weight: bold;
    width: 75vw;
    padding: 8px;
    border: 2px red solid;
    border-radius: 10px;
}

.border{
    border: 1px black solid;
    width: 350px;
    border-radius: 5px 25px 5px 25px;
    margin: 25px 0px 25px 0px;
}

.white-color{
    color: white;
}

.green-color{
    color:#adff2f
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 25px 0px;
}

.margin-0-auto{
    display: flex;
    justify-content: center;
}

.copy-btn2{
    margin-left: 250px;
    font-size: 1.5rem;
}

#gpt-response{
    margin: 0px 15px;
}



.bold{
    font-weight: bold;
}

.bordered{
    border-top: 1px black solid;
}

.alert{
    color: seashell;
    font-weight: bold;
    margin: 0 auto;
}

.spaced{
    margin-right: 10px;
    border-radius: 25px;
    background-color: #3F0FB7;
    border: 2px solid black;
    height: 40px;
}

.white-font{
    color: seashell;
    border:2px red solid
}


.justify{
    justify-content: center;
    align-items: center;
}

.flex-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    color:seashell
}

.bi-bookmark-check-fill{
    color: #adff2f;
}

.short{
    width: 55px;
}

.margin-top{
    margin-top: 20px;
}

.no-margin-top{
    margin-top: 0;
    padding-bottom: 25px;
}

.no-padding-bottom{
    padding-bottom: 0;
    margin-bottom: 0;
}

.generate-btn-valid {
    color: #adff2f !important;
    border: 2px solid #adff2f;
    margin-bottom: 15px;
}

.generate-btn-valid:hover{
    border: 2px solid #adff2f;
}

.generate-btn-invalid{
    margin-bottom: 15px;
    color: #F7F7FF !important;
    border: 2px solid crimson;
}

.margin-bottom{
    margin-bottom: 50px;
}

.btn-outline-danger{
    margin: 10px 25px 10px 25px;
}