.new-badge {
    height: 25px;
    padding: 1px;
    font-size: 1rem;
    text-shadow: 2px 2px 2px #003556;
    margin-top: 5px;
    margin-left: 5px;
}

.margined{
    margin: 10px 10px 10px 10px;
}

.colored{
    color: coral;
    font-weight: bold;
}