.new-badge {
    height: 25px;
    padding: 1px;
    font-size: 1rem;
    text-shadow: 2px 2px 2px #003556;
    margin-top: 5px;
    margin-left: 5px;
}

.margined{
    margin: 10px 25px 10px 25px;
}

.colored{
    color: coral;
    font-weight: bold;
}

.card{
    color: #003556;
    width: 35rem;
}


.gpt-response{
    font-style: italic;
    border: 1px #9A58FD solid;
    border-radius: 5px 25px 5px 25px;
    padding: 8px;
    box-shadow: 8px 8px 5px 1px #3b1b6b;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}