.special{
    font-weight: bold;
    font-size: 1.25rem;
}

.ta-left{
    text-align: left;
    margin: 2px 0px 2px 0px;
}

.heading1{
    font-family: 'Montserrat', sans-serif;
}
.typewriter {
    min-width: 200px;
    padding: 2.5em 0em 2.5em 0em;
    border-radius: 1em;
    margin: 2em;
    display: flex;
    align-items: center;
}

.typewriter svg {
    padding-right: 2em;
}

.typewriter p {
    color: #000;
    font-size: 1em;
    font-weight: 500;
    width: 0;
    max-width: max-content;
    overflow: hidden;
    border-right: .05em solid #464545;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0;
    /* Gives that scrolling effect as the typing happens */
}

.text {
    text-align: center;
    margin: 0 auto;
    max-height:2rem;
    overflow:hidden;
}

.wrapper {
    animation: slide-text 20s steps(1, end) infinite;
}

.m-bottom{
    margin-bottom: 0;
}

.align-items{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 60px;
}

.wrapper p {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.20rem;
    text-align: center;
    color: coral;
    animation:
        typing-erase 5s steps(40, end) infinite,
        blink-caret .5s step-end infinite;
}

/* The type and erase effect */
@keyframes typing-erase {
    0% {
        width: 0
    }

    50%,
    70% {
        width: 100%
    }

    90%,
    100% {
        width: 0
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: gray
    }
}

@keyframes slide-text {

    0%,
    25% {
        transform: translateY(-1rem)
    }

    25%,
    50% {
        transform: translateY(-3.5rem)
    }

    50%,
    75% {
        transform: translateY(-6.5rem)
    }

    75%,
    100% {
        transform: translateY(6rem)
    }
}

.ta-center{
    text-align: center;
}

.flex-centered{
    display: flex;
    justify-content: center;
}

.menu-img{
    width: 250px;
    margin-left: 25px; 
    border-radius: 15px;
}

.centered-div{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.flex-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 25px 0px;
}

@media screen and (max-width: 767px) {
    .flex-responsive {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-img{
        width: 250px;
        border-radius: 15px;
        margin-top: 15px;
        box-shadow: 5px 5px 15px 2px coral;
    }
    .centered-div{
        margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: left;
    }
}


.line-break{
    line-height: 4rem;
}

.big-font{
    font-size: 2rem;

}

.title-font{
    font-size: 3rem;
}

.margin-bottom-plus{
    margin-bottom: 25px;
}

.margin-bottom-inter{
    margin-bottom: 40px;
}

.m-left-0{
    margin-left: 0;
}

.orange-btn{
    background-color: coral;
    border: 2px solid #F7F7FF;
    margin: 0px 15px 10px 15px;
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    border-radius: 15px;
    font-size: 1.25rem;
    color: #F7F7FF;
}

.orange-btn:hover{
    background-color: #F7F7FF;
    color: coral;
    font-weight: bold;
    border: 2px coral solid;
}

.div-block2{
    border-bottom: 2px #F7F7FF solid;
    padding-top: 10px;
}

.colored-highlighted{
    color: coral;
    font-weight: bold;
    text-shadow: 1px 1px 1px #F7F7FF;
}
